/* basic settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

*,
::before,
::after {
    box-sizing: inherit;
}

/* content style goes below */
button {
    background-color: #3882F6;
    padding: 6px;
    
}

body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    background-color: #2bd8a4;
    flex-direction: column;
    
    
}

.upper-header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}
.links {
    display: flex;
    gap: 12px;
    /*align-items: center;*/
    
}

.logo {
    flex-shrink: 0; /* vrv mi ne treba*/
}

.lower-header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

.text-button {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 8px;
}
.slika {
    width: 280px;
}
button {
    max-width: fit-content;
}

/* mid section */

.info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

h2 {
    padding: 22px;
}

.info-area-photos {
    display: flex;
    justify-content: center;
}

.content {
    width: 120px;
    text-align: center;
    padding: 22px;
}

/* mid section quote */

.quote-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    flex-wrap: wrap;
    font-size: 36px;
    background-color: #e7e5eb;
}

.quote {
    width: 600px;
}
.quote.creator {
    margin-left: auto;
    font-weight: 600;
}

/* have to fix quote area alignement */

/*  here goeas action area */

.action-area {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-container {
    flex: 1;
    padding: 32px;
    margin: 42px;
    width: 600px;
    background-color: #3882F6;
}

/* and lastly footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2bd8a4;
    padding: 36px;
}

.button-one, .button-two {
    padding: 8px 16px;
    
}
